<div class="card bg-dark">
  <div class="card-body bg-light">
    <span style="width: 50%; text-align: center">
      <h5>“At Shoe MGK, we know that none of our achievements in this</h5>
      <h5>industry would have been possible without the support of our </h5>
      <h5>dedicated team, along with our amazing team, we also work with a </h5>
      <h5>family of retail operators, who impacted our ability to achieve the </h5>
      <h5>accomplishments, achievements, and success we are witnessing today </h5>
      <h5>witnessing today with our sneaker cleaner products.”</h5>
      <h5></h5>
      <h5>Shawn Wiltshire – Founder</h5>
    </span>
  </div>
  <div>
    <input type="button" value="CPTURE" (click)="captureScreen()"/>
  </div>
  <div id="contentToConvert" class="card-body" >
    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-3">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
        <div class="form-group col-md-3">
          <label for="inputMiddleName">Middle Name</label>
          <input type="text" class="form-control" id="inputMiddleName" placeholder="Middle Name">
        </div>
        <div class="form-group col-md-3">
          <label for="inputDate">Date</label>
          <input type="date" class="form-control" id="inputDate" placeholder="Date">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option *ngFor="let obj of usStates" [value]="obj.abbreviation">{{obj.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>

